.App {
  text-align: center;
  background-color:aliceblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 5em;
  display: flex;
  background-color:seagreen;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Body {
  display: flex;
  flex-direction: row;
}

.leaflet-container {
  height: 45em;
  width: 45em;
}