.App {
  text-align: center;
  background-color:aliceblue;
}

.App-header {
  min-height: 2em;
  display: flex;
  background-color:seagreen;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Body {
  margin:1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}